block content
    .banner
        .hxx-grid-5 #{i18n.__('Hello')} <b>#{loginUser.userName}</b>
        .hxx-grid-5 #{i18n.__('Context')} : <b>HXX CRM</b>
        .hxx-grid-2 #{i18n.__('Current Date')}: <b>#{moment(currentDate).format('DD MMM YYYY')}</b>


             